<div class="card">
  <p>
    Redefina a senha da sua conta no Observatório de Dados
  </p>
  <p>
    Para redefinir sua senha, clique no botão abaixo:
  </p>
  
  <div>
    <a class="confirm-button primary" href="<%= @url %>">
      Redefinir senha
    </a>
  </div>
</div>
