<h1>O seu usuário foi criado no sistema Observatório de Dados UFAL</h1>

<h2>Email: <%=@user.email%><h2>
<h2>Senha: <%=@user.password%><h2>

<h2>É altamente recomendado que você altere a sua senha.<h2>